<!-- start header -->
<div class="navbar navbar-default main-nav" id="main-navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<!-- start logo -->
            <a class="navbar-brand" href="/"><img class="nav-brand" src="blog/{{asset "images/header-logo-color.png"}}"></a>
            <!-- end logo -->
		</div>

		<div class="sidenavmenu" id="sidenavmenu">
      <ul class="nav navbar-nav navbar-right">
				<li><a href='/carers'>SEARCH</a></li>

				<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		      ABOUT <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a href="/about">HOME CARE DIRECT</a></li>
		      <li><a href="/how-we-work">HOW WE WORK</a></li>
		      <li><a href="/why-use-hcd">WHY USE HCD</a></li>
		      <li><a href='/team'>MEET THE TEAM</a></li>
		      <li><a href='/faq'>FAQs</a></li>
		      <li><a href='/live-in-care'>LIVE-IN CARE</a></li>
		      <li><a href='/testimonials'>TESTIMONIALS</a></li>
		    </ul>
		  </li>
		  <li class="dropdown">
		    <a href="#" data-toggle="dropdown" class="dropdown-toggle">JOIN
		      <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		      <li>
		        <a href='/carer/join'>BECOME A CARER</a>
		      </li>
		      <li>
		       <a href='customer/sign_up'>BECOME A CUSTOMER</a>
		      </li>
		    </ul>
		  </li>
			<li><a href='/'>BLOG</a></li>
		  <!-- <%= nav_link 'BLOG', '/' %> -->
		  <li class="dropdown">
		    <a href="#" data-toggle="dropdown" class="dropdown-toggle">LOGIN
		      <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		      <li>
		      <a href='customer/sign_in'>CUSTOMER LOGIN</a>
		      </li>
		      <li>
		        <a href='/carer/sign_in'>CARER LOGIN</a>
		      </li>
		    </ul>
		  </li>
    </div>
		{{! insert navigation partial}}

        {{! insert manuala navigation if there is no navigation}}
		<!-- <div class="nav-right pull-right align-right">
            <span class="search-toggle" id="search-button" data-toggle="modal" data-target="#searchmodal"><i class="fa fa-search align-center"></i></span>
            <span class="mobile-menu-toggle hidden-md hidden-lg" id="nav-toggle-button"><i class="fa fa-bars align-center"></i></span>
		</div> -->
        <nav class="mobile-menu visible-sm visible-xs" id="mobile-menu"></nav>
        <div class="backdrop hidden-md hidden-lg" id="backdrop">
            <span class="menu-close align-center"><i class="fa fa-arrow-left"></i></span>
        </div>
	</div>
</div>
<!-- end header -->
